nav{
    background-color: black;
    height: 55px;
}
.brand{
    float: left;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
ul{
    list-style: none;
}

.brand:hover{
    color:darkred;
}
.main{
    float: right;  
    padding: 10px;
}
.main-item{
    padding: 7px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}
.main-item:hover{
    color:brown;
}